In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pinega,RU,2020-10-17 00:24:54,64.70,43.39,32.04,95,89,9.82
1,1,Arraial Do Cabo,BR,2020-10-17 00:24:55,-22.97,-42.03,70.23,73,92,8.72
2,2,Punta Arenas,CL,2020-10-17 00:22:11,-53.15,-70.92,41.00,86,75,10.29
3,3,Ushuaia,AR,2020-10-17 00:24:55,-54.80,-68.30,42.80,85,40,25.28
4,4,Qaanaaq,GL,2020-10-17 00:24:55,77.48,-69.36,30.99,87,100,6.89
...,...,...,...,...,...,...,...,...,...,...
535,535,Lokosovo,RU,2020-10-17 00:26:13,61.13,74.82,37.11,77,87,21.63
536,536,Puerto Baquerizo Moreno,EC,2020-10-17 00:26:13,-0.90,-89.60,70.09,86,97,11.88
537,537,Juuru,EE,2020-10-17 00:26:13,59.06,24.96,39.20,86,75,2.24
538,538,Rosetta,EG,2020-10-17 00:26:13,31.40,30.42,73.40,69,3,5.10
539,539,Nara,JP,2020-10-17 00:26:13,34.69,135.80,57.00,93,75,1.12

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# get rid of negative max temps for heat map?
#city_data_df = city_data_df[city_data_df["Max Temp"] >= 0]

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 30.0), zoom_level=1.45)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Arraial Do Cabo,BR,2020-10-17 00:24:55,-22.97,-42.03,70.23,73,92,8.72
5,5,Avarua,CK,2020-10-17 00:24:55,-21.21,-159.78,78.80,61,28,10.29
12,12,Adrar,MR,2020-10-17 00:24:56,20.50,-10.07,87.82,16,0,8.99
15,15,Bengkulu,ID,2020-10-17 00:24:56,-3.80,102.27,76.12,85,65,3.11
18,18,Saint-Philippe,RE,2020-10-17 00:24:57,-21.36,55.77,71.60,60,22,6.93
20,20,Amapa,BR,2020-10-17 00:24:57,1.00,-52.00,80.38,49,66,5.79
28,28,Odweyne,SO,2020-10-17 00:24:58,9.41,45.06,73.47,44,2,0.94
29,29,Kapaa,US,2020-10-17 00:24:58,22.08,-159.32,84.20,70,20,13.87
31,31,Nouakchott,MR,2020-10-17 00:24:59,18.09,-15.98,86.00,51,58,10.29
41,41,Rikitea,PF,2020-10-17 00:25:00,-23.12,-134.97,73.87,81,99,19.75

In [16]:
preferred_cities_df.isnull().sum()
#preferred_cities_df.notnull().sum()
#preferred_cities_df.count()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
1   Arraial Do Cabo      BR     70.23 -22.97  -42.03
5            Avarua      CK     78.80 -21.21 -159.78
12            Adrar      MR     87.82  20.50  -10.07
15         Bengkulu      ID     76.12  -3.80  102.27
18   Saint-Philippe      RE     71.60 -21.36   55.77
20            Amapa      BR     80.38   1.00  -52.00
28          Odweyne      SO     73.47   9.41   45.06
29            Kapaa      US     84.20  22.08 -159.32
31       Nouakchott      MR     86.00  18.09  -15.98
41          Rikitea      PF     73.87 -23.12 -134.97

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Arraial Do Cabo,BR,70.23,-22.97,-42.03,Pousada Porto Praia
5,Avarua,CK,78.80,-21.21,-159.78,Paradise Inn
12,Adrar,MR,87.82,20.50,-10.07,
15,Bengkulu,ID,76.12,-3.80,102.27,Grage Hotel Bengkulu
18,Saint-Philippe,RE,71.60,-21.36,55.77,"Chambres d'hÃ´te ""La TrinitÃ©"""
...,...,...,...,...,...,...
528,Frontera,MX,75.00,26.93,-101.45,Fiesta Inn Monclova
531,Tessalit,ML,84.49,20.20,1.01,
532,Lazaro Cardenas,MX,83.34,17.96,-102.20,Collection O Hotel Quinta Antigua
536,Puerto Baquerizo Moreno,EC,70.09,-0.90,-89.60,Hotel los Algarrobos
538,Rosetta,EG,73.40,31.40,30.42,Green Valley

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))