In [1]:
import sys
sys.path.append("..")

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy
import requests
from datetime import datetime
# Import the API key.
from config import weather_api_key
# Import the time module
import time
from scipy.stats import linregress
import gmaps
import random

In [2]:
# make 2000 random latitudes and longitudes

lats = np.random.uniform(low= -90, high= 90, size= 2000)
lngs = np.random.uniform(low= -180, high= 180, size= 2000)

In [3]:
# zip them bitches together in a list
coords = list(zip(lats, lngs))

In [4]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coords:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

735

In [5]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [6]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1

    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        city_description = city_weather["weather"][0]["description"]
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Current Description": city_description})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | kapaa
Processing Record 2 of Set 1 | escanaba
Processing Record 3 of Set 1 | arraial do cabo
Processing Record 4 of Set 1 | xunchang
Processing Record 5 of Set 1 | torbay
Processing Record 6 of Set 1 | tasiilaq
Processing Record 7 of Set 1 | tiksi
Processing Record 8 of Set 1 | barentsburg
City not found. Skipping...
Processing Record 9 of Set 1 | port elizabeth
Processing Record 10 of Set 1 | carnarvon
Processing Record 11 of Set 1 | mataura
Processing Record 12 of Set 1 | rikitea
Processing Record 13 of Set 1 | atuona
Processing Record 14 of Set 1 | constitucion
Processing Record 15 of Set 1 | lompoc
Processing Record 16 of Set 1 | diego de almagro
Processing Record 17 of Set 1 | provideniya
Processing Record 18 of Set 1 | hithadhoo
Processing Record 19 of Set 1 | ushuaia
Processing Record 20 of Set 1 | kieta
Processing Record 21 of Set 1 | bredasdorp
Processing Record 22 of Set 1 | ati
Processing Record 23 of Set 1 | ngorongoro
Processing Record 24 of Set 1 | comodoro rivadavia
Processing Record 25 of Set 1 | soto la marina
Processing Record 26 of Set 1 | rio gallegos
Processing Record 27 of Set 1 | namibe
Processing Record 28 of Set 1 | mar del plata
Processing Record 29 of Set 1 | punta arenas
Processing Record 30 of Set 1 | san quintin
Processing Record 31 of Set 1 | yumen
Processing Record 32 of Set 1 | geraldton
Processing Record 33 of Set 1 | san patricio
Processing Record 34 of Set 1 | talcahuano
Processing Record 35 of Set 1 | nara
Processing Record 36 of Set 1 | boali
Processing Record 37 of Set 1 | hermanus
Processing Record 38 of Set 1 | batemans bay
Processing Record 39 of Set 1 | oranjemund
Processing Record 40 of Set 1 | faanui
Processing Record 41 of Set 1 | mago
Processing Record 42 of Set 1 | presidencia roque saenz pena
Processing Record 43 of Set 1 | kangaatsiaq
Processing Record 44 of Set 1 | kazerun
Processing Record 45 of Set 1 | albany
Processing Record 46 of Set 1 | lorengau
Processing Record 47 of Set 1 | dawson creek
Processing Record 48 of Set 1 | tura
Processing Record 49 of Set 1 | yellowknife
Processing Record 50 of Set 1 | egvekinot
Processing Record 1 of Set 2 | thinadhoo
Processing Record 2 of Set 2 | palmer
Processing Record 3 of Set 2 | russell
Processing Record 4 of Set 2 | pangnirtung
Processing Record 5 of Set 2 | thompson
Processing Record 6 of Set 2 | nioro
Processing Record 7 of Set 2 | ilovka
Processing Record 8 of Set 2 | lebu
Processing Record 9 of Set 2 | camocim
Processing Record 10 of Set 2 | sovetskiy
Processing Record 11 of Set 2 | vaini
Processing Record 12 of Set 2 | gari
Processing Record 13 of Set 2 | sur
Processing Record 14 of Set 2 | samalaeulu
City not found. Skipping...
Processing Record 15 of Set 2 | guasdualito
Processing Record 16 of Set 2 | ostrovnoy
Processing Record 17 of Set 2 | taolanaro
City not found. Skipping...
Processing Record 18 of Set 2 | bluff
Processing Record 19 of Set 2 | khatanga
Processing Record 20 of Set 2 | padang
Processing Record 21 of Set 2 | wattegama
Processing Record 22 of Set 2 | konstantinovsk
Processing Record 23 of Set 2 | taoudenni
Processing Record 24 of Set 2 | kaupanger
Processing Record 25 of Set 2 | bathsheba
Processing Record 26 of Set 2 | tumannyy
City not found. Skipping...
Processing Record 27 of Set 2 | port alfred
Processing Record 28 of Set 2 | skibbereen
Processing Record 29 of Set 2 | xining
Processing Record 30 of Set 2 | altamira
Processing Record 31 of Set 2 | bethel
Processing Record 32 of Set 2 | miyako
Processing Record 33 of Set 2 | busselton
Processing Record 34 of Set 2 | hobart
Processing Record 35 of Set 2 | klaksvik
Processing Record 36 of Set 2 | aginskoye
Processing Record 37 of Set 2 | puerto ayora
Processing Record 38 of Set 2 | jashpurnagar
Processing Record 39 of Set 2 | new norfolk
Processing Record 40 of Set 2 | ponta do sol
Processing Record 41 of Set 2 | attawapiskat
City not found. Skipping...
Processing Record 42 of Set 2 | pangody
Processing Record 43 of Set 2 | goure
Processing Record 44 of Set 2 | lasem
Processing Record 45 of Set 2 | sao raimundo das mangabeiras
Processing Record 46 of Set 2 | tilichiki
Processing Record 47 of Set 2 | petropavlovsk-kamchatskiy
Processing Record 48 of Set 2 | chuy
Processing Record 49 of Set 2 | cabo san lucas
Processing Record 50 of Set 2 | kumbo
Processing Record 1 of Set 3 | yining
Processing Record 2 of Set 3 | butaritari
Processing Record 3 of Set 3 | porto santo
Processing Record 4 of Set 3 | east london
City not found. Skipping...
Processing Record 5 of Set 3 | matagami
Processing Record 6 of Set 3 | kavieng
Processing Record 7 of Set 3 | georgetown
Processing Record 8 of Set 3 | bilma
Processing Record 9 of Set 3 | illoqqortoormiut
City not found. Skipping...
Processing Record 10 of Set 3 | labrea
Processing Record 11 of Set 3 | kenai
Processing Record 12 of Set 3 | kefalos
Processing Record 13 of Set 3 | cherskiy
Processing Record 14 of Set 3 | cape town
Processing Record 15 of Set 3 | karamea
City not found. Skipping...
Processing Record 16 of Set 3 | souillac
Processing Record 17 of Set 3 | yamada
Processing Record 18 of Set 3 | alamos
Processing Record 19 of Set 3 | airai
Processing Record 20 of Set 3 | karpathos
Processing Record 21 of Set 3 | buguruslan
Processing Record 22 of Set 3 | zyryanka
Processing Record 23 of Set 3 | hasaki
Processing Record 24 of Set 3 | vila franca do campo
Processing Record 25 of Set 3 | porto nacional
Processing Record 26 of Set 3 | vao
Processing Record 27 of Set 3 | paracale
Processing Record 28 of Set 3 | victoria
Processing Record 29 of Set 3 | codrington
Processing Record 30 of Set 3 | aktau
Processing Record 31 of Set 3 | mahebourg
Processing Record 32 of Set 3 | ribeira grande
Processing Record 33 of Set 3 | hofn
Processing Record 34 of Set 3 | tuktoyaktuk
Processing Record 35 of Set 3 | husavik
Processing Record 36 of Set 3 | bengkulu
Processing Record 37 of Set 3 | kruisfontein
Processing Record 38 of Set 3 | ancud
Processing Record 39 of Set 3 | nanortalik
Processing Record 40 of Set 3 | itarema
Processing Record 41 of Set 3 | castro
Processing Record 42 of Set 3 | hvolsvollur
Processing Record 43 of Set 3 | tautira
Processing Record 44 of Set 3 | buraydah
Processing Record 45 of Set 3 | longyearbyen
Processing Record 46 of Set 3 | marzuq
Processing Record 47 of Set 3 | aklavik
Processing Record 48 of Set 3 | saint anthony
Processing Record 49 of Set 3 | tuatapere
Processing Record 50 of Set 3 | naze
Processing Record 1 of Set 4 | hilo
Processing Record 2 of Set 4 | wulanhaote
City not found. Skipping...
Processing Record 3 of Set 4 | sao filipe
Processing Record 4 of Set 4 | sola
Processing Record 5 of Set 4 | plouzane
Processing Record 6 of Set 4 | pringsewu
Processing Record 7 of Set 4 | phan thiet
Processing Record 8 of Set 4 | bonavista
Processing Record 9 of Set 4 | dikson
Processing Record 10 of Set 4 | tabou
Processing Record 11 of Set 4 | necochea
Processing Record 12 of Set 4 | nieuw nickerie
Processing Record 13 of Set 4 | grants
Processing Record 14 of Set 4 | mitchell
Processing Record 15 of Set 4 | cidreira
Processing Record 16 of Set 4 | te anau
Processing Record 17 of Set 4 | pestovo
Processing Record 18 of Set 4 | mount gambier
Processing Record 19 of Set 4 | boguchany
Processing Record 20 of Set 4 | mafeteng
Processing Record 21 of Set 4 | zmeinogorsk
Processing Record 22 of Set 4 | saint-francois
Processing Record 23 of Set 4 | karatau
Processing Record 24 of Set 4 | tiarei
Processing Record 25 of Set 4 | nantucket
Processing Record 26 of Set 4 | bandarbeyla
Processing Record 27 of Set 4 | chifeng
Processing Record 28 of Set 4 | upernavik
Processing Record 29 of Set 4 | leningradskiy
Processing Record 30 of Set 4 | makhachkala
Processing Record 31 of Set 4 | port hardy
Processing Record 32 of Set 4 | sitka
Processing Record 33 of Set 4 | changli
Processing Record 34 of Set 4 | saint-philippe
Processing Record 35 of Set 4 | atambua
Processing Record 36 of Set 4 | kodiak
Processing Record 37 of Set 4 | milkovo
Processing Record 38 of Set 4 | port hedland
Processing Record 39 of Set 4 | qaanaaq
Processing Record 40 of Set 4 | pedasi
Processing Record 41 of Set 4 | lagoa
Processing Record 42 of Set 4 | yen bai
Processing Record 43 of Set 4 | the pas
Processing Record 44 of Set 4 | deputatskiy
Processing Record 45 of Set 4 | belushya guba
City not found. Skipping...
Processing Record 46 of Set 4 | saleaula
City not found. Skipping...
Processing Record 47 of Set 4 | ust-barguzin

In [13]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,Hilo,19.73,-155.09,87.80,55,40,14.99,US,scattered clouds
1,Arraial Do Cabo,-22.97,-42.03,70.12,73,70,9.08,BR,broken clouds
2,Hovd,48.01,91.64,32.04,79,0,2.71,MN,clear sky
3,Salalah,17.02,54.09,73.40,56,0,3.36,OM,clear sky
4,Barrow,71.29,-156.79,17.60,72,1,26.40,US,clear sky
5,Mount Isa,-20.73,139.50,87.80,16,0,11.41,AU,clear sky
6,Rikitea,-23.12,-134.97,73.87,81,99,19.75,PF,overcast clouds
7,Punta Arenas,-53.15,-70.92,41.00,86,75,10.29,CL,broken clouds
8,Half Moon Bay,37.46,-122.43,93.20,17,1,13.87,US,clear sky
9,Ancud,-41.87,-73.82,59.00,58,54,10.29,CL,broken clouds

In [15]:
new_column_order = ["City", "Country", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Current Description"]
city_data_df=city_data_df[new_column_order]
city_data_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Hilo,US,19.73,-155.09,87.80,55,40,14.99,scattered clouds
1,Arraial Do Cabo,BR,-22.97,-42.03,70.12,73,70,9.08,broken clouds
2,Hovd,MN,48.01,91.64,32.04,79,0,2.71,clear sky
3,Salalah,OM,17.02,54.09,73.40,56,0,3.36,clear sky
4,Barrow,US,71.29,-156.79,17.60,72,1,26.40,clear sky
...,...,...,...,...,...,...,...,...,...
663,Ciudad Bolivar,VE,8.12,-63.55,84.22,60,57,3.78,broken clouds
664,Nova Olinda Do Norte,BR,-3.89,-59.09,81.46,63,30,1.74,scattered clouds
665,Waterloo,CA,43.47,-80.52,42.80,60,1,6.93,clear sky
666,Katherine,AU,-14.47,132.27,86.00,55,45,8.05,scattered clouds
667,Paidha,UG,2.42,30.99,61.20,84,100,5.50,overcast clouds

In [17]:
# Create the output file (CSV).
output_data_file = "WheatherPy_Database.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")